In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [2]:
tf.__version__

'2.7.0'

In [3]:
df = pd.read_csv("E:\Downloads\Churn_Modelling.csv")

In [8]:

pd.set_option('display.max_columns',14)
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [9]:
x = df.iloc[:,3:-1].values
y = df.iloc[:,-1].values

In [10]:
x

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [11]:
y

array([1, 0, 1, ..., 1, 1, 0], dtype=int64)

In [12]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
x[:,2] = le.fit_transform(x[:,2])

In [13]:
x

array([[619, 'France', 0, ..., 1, 1, 101348.88],
       [608, 'Spain', 0, ..., 0, 1, 112542.58],
       [502, 'France', 0, ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 0, ..., 0, 1, 42085.58],
       [772, 'Germany', 1, ..., 1, 0, 92888.52],
       [792, 'France', 0, ..., 1, 0, 38190.78]], dtype=object)

In [14]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ohe = OneHotEncoder()
ct = ColumnTransformer(transformers= [('encoder', ohe, [1])], remainder = 'passthrough')
x =np.array(ct.fit_transform(x))

In [15]:
print(x)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

In [16]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state= 0)

In [17]:
from sklearn.preprocessing import StandardScaler 
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [18]:
ann = tf.keras.models.Sequential()

In [50]:
ann.add(tf.keras.layers.Dense(units=5, activation= 'relu'))

In [51]:
ann.add(tf.keras.layers.Dense(units=5, activation= 'relu'))

In [52]:
ann.add(tf.keras.layers.Dense(units=1, activation= 'sigmoid'))

In [53]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [54]:
ann.fit(x_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 3s 4ms/step - loss: 0.5537 - accuracy: 0.7960
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5060 - accuracy: 0.7960
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5059 - accuracy: 0.7960
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5057 - accuracy: 0.7960
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5045 - accuracy: 0.7960
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4978 - accuracy: 0.7960
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4780 - accuracy: 0.7960
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4463 - accuracy: 0.7960
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4182 - accuracy: 0.7960
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3926 - accuracy: 0.7960
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3773 - accuracy: 0.8553
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3729 - accuracy: 0.8572
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3690 - accuracy: 0.8577
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3675 - accuracy: 0.8551
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3646 - accuracy: 0.8580
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3629 - accuracy: 0.8606
Epoch 17/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3615 - accuracy: 0.8590
Epoch 18/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3600 - accuracy: 0.8559
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3596 - accuracy: 0.8604
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3573 - accuracy: 0.8585
Epoch 21/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3567 - accuracy: 0.8587
Epoch 22/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3564 - accuracy: 0.8600
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3554 - accuracy: 0.8612
Epoch 24/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3550 - accuracy: 0.8576
Epoch 25/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3549 - accuracy: 0.8614
Epoch 26/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3524 - accuracy: 0.8589
Epoch 27/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3532 - accuracy: 0.8586
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3522 - accuracy: 0.8584
Epoch 29/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3521 - accuracy: 0.8599
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3511 - accuracy: 0.8583
Epoch 31/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3517 - accuracy: 0.8615
Epoch 32/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3508 - accuracy: 0.8585
Epoch 33/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3496 - accuracy: 0.8595
Epoch 34/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3515 - accuracy: 0.8585
Epoch 35/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3502 - accuracy: 0.8595
Epoch 36/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3494 - accuracy: 0.8639
Epoch 37/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3499 - accuracy: 0.8585
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3490 - accuracy: 0.8604
Epoch 39/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3490 - accuracy: 0.8610
Epoch 40/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3479 - accuracy: 0.8611
Epoch 41/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3478 - accuracy: 0.8591
Epoch 42/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3471 - accuracy: 0.8640
Epoch 43/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3484 - accuracy: 0.8594
Epoch 44/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3471 - accuracy: 0.8616
Epoch 45/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3482 - accuracy: 0.8597
Epoch 46/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3474 - accuracy: 0.8602
Epoch 47/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3478 - accuracy: 0.8614
Epoch 48/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3469 - accuracy: 0.8618
Epoch 49/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3474 - accuracy: 0.8595
Epoch 50/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3477 - accuracy: 0.8608
Epoch 51/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3457 - accuracy: 0.8611
Epoch 52/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3460 - accuracy: 0.8621
Epoch 53/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3466 - accuracy: 0.8618
Epoch 54/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3466 - accuracy: 0.8580
Epoch 55/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3469 - accuracy: 0.8574
Epoch 56/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3450 - accuracy: 0.8615
Epoch 57/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3460 - accuracy: 0.8639
Epoch 58/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3455 - accuracy: 0.8615
Epoch 59/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3457 - accuracy: 0.8604
Epoch 60/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3460 - accuracy: 0.8622
Epoch 61/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3464 - accuracy: 0.8604
Epoch 62/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3447 - accuracy: 0.8612
Epoch 63/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3446 - accuracy: 0.8606
Epoch 64/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3441 - accuracy: 0.8621
Epoch 65/100
250/250 [==============================] - 2s 6ms/step - loss: 0.3443 - accuracy: 0.8616
Epoch 66/100
250/250 [==============================] - 1s 6ms/step - loss: 0.3446 - accuracy: 0.8597
Epoch 67/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3451 - accuracy: 0.8621
Epoch 68/100
250/250 [==============================] - 1s 6ms/step - loss: 0.3454 - accuracy: 0.8606
Epoch 69/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3444 - accuracy: 0.8589
Epoch 70/100
250/250 [==============================] - 1s 6ms/step - loss: 0.3442 - accuracy: 0.8621
Epoch 71/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3455 - accuracy: 0.8612
Epoch 72/100
250/250 [==============================] - 1s 6ms/step - loss: 0.3449 - accuracy: 0.8619
Epoch 73/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3444 - accuracy: 0.8616
Epoch 74/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3454 - accuracy: 0.8621
Epoch 75/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3438 - accuracy: 0.8618
Epoch 76/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3448 - accuracy: 0.8589
Epoch 77/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3454 - accuracy: 0.8605
Epoch 78/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3435 - accuracy: 0.8616
Epoch 79/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3460 - accuracy: 0.8597
Epoch 80/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3433 - accuracy: 0.8605
Epoch 81/100

250/250 [==============================] - 1s 4ms/step - loss: 0.3433 - accuracy: 0.8615
Epoch 82/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3434 - accuracy: 0.8618
Epoch 83/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3455 - accuracy: 0.8589
Epoch 84/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3432 - accuracy: 0.8589
Epoch 85/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3433 - accuracy: 0.8618
Epoch 86/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3431 - accuracy: 0.8605
Epoch 87/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3428 - accuracy: 0.8624
Epoch 88/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3447 - accuracy: 0.8612
Epoch 89/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3437 - accuracy: 0.8631
Epoch 90/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3427 - accuracy: 0.8633
Epoch 91/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3428 - accuracy: 0.8629
Epoch 92/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3439 - accuracy: 0.8620
Epoch 93/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3431 - accuracy: 0.8625
Epoch 94/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3428 - accuracy: 0.8605
Epoch 95/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3430 - accuracy: 0.8635
Epoch 96/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3438 - accuracy: 0.8620
Epoch 97/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3433 - accuracy: 0.8624
Epoch 98/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3435 - accuracy: 0.8612
Epoch 99/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3439 - accuracy: 0.8601
Epoch 100/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3434 - accuracy: 0.8599

In [55]:
ann.predict(sc.transform([[1,0,0,600,1,40,3,60000,2,1,1,50000]]))> 0.5

array([[False]])

In [56]:
y_pred = ann.predict(x_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

In [57]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1545   50]
 [ 217  188]]

0.8665